@{
    ViewBag.Title = "Upload Excel";
}

<div class="card shadow-lg border-0 mb-4">
    <div class="card-body">
        <h2 class="card-title text-dark mb-4 border-bottom pb-2">Upload File Excel</h2>

        <form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="file" class="form-label fw-bold">Pilih file Excel (.xlsx)</label>
                <input type="file" name="file" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success px-4">Upload</button>
        </form>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info mt-3">@ViewBag.Message</div>
        }
    </div>
</div>
